.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
overflow: hidden;
    zoom:1; /* Хак для IE 6 и 7 */
}
.wrapper {
  width: 1202px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #000;
}
.logotype {
  width: 394px;
  float: left;
  margin: 0 0 0 20px;
}
.logotype a {
  font-size: 30px;
  color: black;
  text-decoration: none;
  float: left;
}
.logotype p {
  float: left;
}
.maneger {
  text-align: center;
  width: 394px;
  float: left;
}
.maneger1 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
  border: 1px solid #000;
  float: left;
  background: white;
}
.maneger2 {
  border: 1px solid #000;
  margin: 15px;
}
.contacts {
  width: 380px;
  text-align: center;
  float: left;
}
.contacts a {
  float: right;
}
.contacts input {
  width: 100%;
  margin: 27px 0 0 0;
}
.menu {
    list-style: none;
    border: 1px solid;
}
.menu li {
    float: left;
    text-transform: uppercase;
    border-right: 1px solid;
    height: 50px;
}
.menu li:last-child {
    border: none;
}
.menu li a{
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}
.centr{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.left-hand{
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  height: 900px;
  float: left;
  padding: 1px;
}
.left-hand a{
  padding: 5px 10px;
  color: black;
  font-size: 24px;
  text-decoration: none;
}
.catalog{
  list-style: none;
  border: 1px solid;
  height: 300px;
  width: 292px;
  padding: 3px;
  font-size: 22px;
}
.catalog li ul{
  list-style: none;
  }
  .catalog li ul li{
     border-bottom: none;
  }
.catalog li{
  border-bottom: 1px solid;
}
.catalog li ul{
  display: none;
}
.catalog li:hover > ul{
  display: block;
}
.catalog li:last-child {
  border: none;
}
.catalog li a {
  padding: 5px 10px;
  margin: 0 0 0 20px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}
.ispravlenia{
  width: 897px;
  float: left;
}
.production{
  font-size: 30px;
  float: left;
  width: 826px;
  height: 40px;
  margin: 20px auto;
  list-style: none;
}
.foto{
  height: 612px;
  width: 450px;
  float: left;
  border: none;
  margin: 20px;
}
.foto1 img{
  width: 448px;
  float: left;
  border: 1px solid;
}
.foto2 img{
  width: 216px;
  float: left;
  border: 1px solid;
  margin: 10px 3px 0 3px;
}
table{
  width: 400px;
  height: 400px;
  font-size: 22px;
  border: none;
}
table tr td{
  border: none;
}
.Veluxxx{
  width: 400px;
  overflow: hidden;
}
.brand{
  width: 190px;
  float: left;
  border: none;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
}
.Veluxxx p span{
  float: right;
  margin: 0 60px 0 0;
}
.Veluxxx p{
  margin: 135px 0 0 30px;
}
.button{
  background: red;
  height: 70px;
  width: 390px;
  float: left;
  text-align: center;
  border: 1px solid #000;
}
.button a{
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  color: black;
}
.opesanbe{
  width: 855px;
  float: left;
  border: none;
  margin: 20px;
  padding: 0;
  list-style: none;
  font-size: 20px;
}
.opees {
    list-style: none;
}
.opees li {
    float: left;
    text-transform: uppercase;
    height: 50px;
}
.opees li a{
  padding: 5px 25px;
  color: black;
  font-size: 24px;
}
.opees1{
  text-align: left;
  list-style: none;
}
.opees2{
  text-align: left;
}
.opees3{
  color: red;
}
.opees3 li{
  text-align: left;
  list-style: none;
  text-decoration: none;
}
.opees3 li a{
  text-align: left;
  list-style: none;
  text-decoration: none;
  color: red;
}
.gare{
  font-size: 30px;
  margin: 0 0 0 30px;
  float: left;
  width: 100%;
}
.standart{
  height: 450px;
  width: 100%;
  float: left;
}
.standart1{
  height: 430px;
  width: 280px;
  float: left;
  margin: 8px;
  border: 1px solid;
}
.standart1 img{
  width: 270px;
  margin: 4px;
  border: 1px solid;
}
.standart1 p{
  text-align: center;
  font-size: 20px;
  margin: 5px;
}
.stan{
  margin: 0;
}
.stan li{
  text-align: left;
  list-style: none;
}
.cena{
  float: left;
}
.cena li{
  float: right;
}
.button10{
  background: #bfbfbf;
  height: 28px;
  width: 130px;
  float: left;
  text-align: center;
  border: 1px solid #000;
  margin: 10px 0 0 10px;
}
.button10 a{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.footer{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
hr{
  border: none;
  height: 2px;
  background: black;
  width: 1170px;
}
.serwees1{
  height: 259px;
  width: 280px;
  float: left;
  margin: 10px;
}
.serwees2{
  height: 259px;
  width: 280px;
  float: left;
  margin: 10px;
}
.serwees3{
  height: 259px;
  width: 280px;
  float: left;
  margin: 10px;
}
.serwees4{
  height: 259px;
  width: 280px;
  float: left;
  margin: 10px;
}
.serwees1 a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 0 0 30px;
}
.serwees1 p{
  font-size: 20px;
  margin: 0 0 0 30px;
}
.serwees2 a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 0 0 30px;
}
.serwees2 p{
  font-size: 20px;
  margin: 0 0 0 45px;
}
.serwees3 a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 0 0 80px;
}
.serwees3 p{
  font-size: 20px;
  margin: 0 0 0 30px;
}
.tel{
  height: 134px;
  width: 275px;
  float: left;
}
.znachok{
  height: 134px;
  width: 275px;
  float: left;
}
.tel10 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
  border: 1px solid #000;
  float: left;
  background: white;
  text-align: center;
}
.tel20 {
  margin: 30px 0 0 100px;
  font-size: 25px;
}
.znachok10 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
  border: 1px solid #000;
  float: left;
  background: white;
  text-align: center;
}
.znachok20 {
  margin: 30px 0 0 100px;
  font-size: 20px;
}
.sate {
  width: 100%;
  float: left;
}
.sate p{
  font-size: 20px;
  text-align: center;
}